.main-header {
	z-index: 5;
}

.btn {
	width: 180px;
	height: 45px;
	margin-left: auto;
	cursor: pointer;
	outline: none;
	background-color: #f64747;
	border-radius: 10px;
	color: whitesmoke;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #b63535;
}
