.event-register {
	height: 99vh;
	margin-left: 1em;
	padding: 0.5em;
	flex-grow: 1;
	overflow: hidden;
}

.event-list-item {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	border: 1px solid lightcoral;
	padding: 0.4em;
}

.primary-item-list {
	width: 100%;
	margin-bottom: 1em;
}

#object-events-element {
	overflow: scroll;
	height: 100%;
	width: 100%;
}
