.canvas-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid orange;
}

.enable-events {
	pointer-events: all;
}

.animated-object-human {
	animation-name: object-human;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes object-human {
	from {
		x: -100px;
	}
	to {
		x: 100%;
	}
}

.animated-object-car {
	animation-name: object-car;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes object-car {
	from {
		x: -100px;
		y: 100px;
	}
	to {
		x: 100%;
		y: 600px;
	}
}
